<a href="http://127.0.0.1:8000/AjouterStudent">+ADD</a>
<br/>
{% for s in tabStudent %}
numero carte etudient : {{s.nce}}
username : {{s.username}}
moyenne : {{s.moyenne}}
<a href="{{ path('ModifierStudent', {'id': s.nce}) }}">UPDATE</a>
<a href="{{ path('SupprimerStudent', {'id': s.nce}) }}">DELETE</a>
<br/>
{% endfor %}